.introduction {
  font-size: 120px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 50px;
  background-color: white;
}
