.introduction {
  align-items: center;
  background-image: radial-gradient(#8266B6 0.5px, transparent 0.5px), radial-gradient(#8266B6 0.5px, #593796 0.5px);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  gap: 100px;
  height: calc(100vh - 100px);
  justify-content: center;
  letter-spacing: 5px;
  opacity: 0.8;
  padding: 50px;
  width: 100%;
}
